[flake8]
select = ANN,B,B9,BLK,C,E,F,I,S,W
ignore = E203,E501,W503
max-line-length = 80
max-complexity = 10
application-import-names = tutorial_hypermodern_python_winand,tests
import-order-style = google
per-file-ignores = tests/*:S101
# https://github.com/sco1/flake8-annotations#--allow-star-arg-any
# see noxfile.install_with_constraints definition
allow-star-arg-any = true
